@model IEnumerable<HotWheels.Models.CarViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Cars</h2>

<div>
    <p style="float:left;">
        @Html.ActionLink("Create New", "Create")
    </p>
    <p style="float:right;">
        @Html.ActionLink("Brands", "Index", "Brands")
    </p>
</div>
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>

@*<div class="car-container">
    
</div>*@


@section Scripts{
    @*<script>
        $(document).ready(function(){
            var carNum = 24;
            
            for (var i = 0; i < carNum; i++) {
                $("div .car-container").append('<div class="image" id="car' + i + '"><img runat="server" src="https://localhost:44356/Images/notfound.png" alt="car"></div>');
            }
        });

        
    </script>*@
}
